<!-- Logo section-->
<section id="logo" class="d-flex align-items-center bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Corposurgir</h1>
        <h4>En Corposurgir21, trabajamos como una organización comprometida con el bienestar social en Colombia. Nuestra labor se centra en transformar vidas a través de programas integrales en salud, educación y vivienda. Además, lideramos la innovación en sostenibilidad hídrica con nuestro sistema SISBAC, diseñado para el ahorro efectivo de agua.</h4>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 logo-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/corposurgirLogo.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
 <!-- End Logo section--> 
