#banner-initial {
    margin-top: 56px;
}

#banner-initial img{
    width: 100%;
    height: 500px;
}

@media only screen and (max-width: 600px) {
    .img-central{
        width: 600px !important;
        height: 500px !important;
    }
}