/*-----------------------------
# logo section css
-------------------------------*/
.bg-gray{
    background-color: #E5E8E8;
}
#logo{
   background-image: url("../../../assets/img/wave.svg") ;
   background-repeat: no-repeat;
    color: #2297a5!important;
}
#logo .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
.logo-positive{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    background-color: #2297a5;
}

@media (max-width: 991px) {
    #logo {
      margin-top: 50px;
      height: auto;
      text-align: center;
    }
  
    #logo .animated {
      -webkit-animation: none;
      animation: none;
    }
  
    #logo .logo-img {
      text-align: center;
    }
  
    #logo .logo-img img {
      width: 50%;
    }
  }
  @media (max-width: 768px) {
    #logo h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #logo h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    #logo .logo-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #logo .logo-img img {
      width: 80%;
    }
  
    #logo .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
  }
  /*------------------------
  # Animation logo css
  --------------------------*/
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }