<section id="category-admin" class="category-admin">
    <div class="container">
      <div class="create-button">
        <button class="btn bg-green" (click)="onCreateFactory($event)">Crear</button>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Descripción</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feature of categoryFeatures.caracteristicas | paginate: { itemsPerPage: 5, currentPage: p }">
            <th scope="row">{{feature.detalle_id}}</th>
            <td>{{feature.nombre_caracteristica}}</td>
            <td>{{feature.codigo_nombre}}</td>
            <td>{{feature.descripcion}}</td>
            <td>
              <button class="btn bg-azul" [routerLink]="['/modulo-caracteristicas/form',feature.detalle_id]">Editar</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteCategoryFeature(feature)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination justify-content-center">
        <pagination-controls 
          (pageChange)="p = $event"
          responsive="true"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          >
       </pagination-controls>
  
      </ul>
      
    </div>
  </section>