@import url(https://fonts.googleapis.com/css?family=Raleway);

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Raleway', sans-serif !important;
}


/*
*=====================================whatsapp================
*/
#whatsapp .btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
#whatsapp .btn-wsp:hover{
    background: #20ba5a;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}
/*
#menu .navbar-toggler{
  background-color: #FDFEFE !important;
}

.navbar-light{
  background-color: #2297A5 !important;
}

.btn-outline-success{
  background-color: #949496 !important;
  color: #FDFEFE;
}

#menu a{
  color:  #FDFEFE;
}

#menu img{
width: 60px;
height: 60px;
}

#menu .active{
  background-color: #949496;
  border-radius: 10px;
}
*/

/*#banner-initial {
    margin-top: 56px;
}

#banner-initial img{
    width: 100%;
    height: 500px;
}
*/
/*#categoria{
  background-color: #58812C;
}

#categoria a{
  color: #FDFEFE;
}*/

/*
#alianzas img{
  height: 200px;
}

#alianzas .btn-primary{
  background-color: #2297A5 !important;
}*/

/*
#footer{
  margin-top: 10px;
  background-color: #135A5F;
  color: #FDFEFE;
}
#footer .list-group-item{
  background-color: #135A5F;
  color: #FDFEFE;
  border: 0px;
}
*/
.list-group-item a{
  color: #FDFEFE;
}


/*=============================================================*/
@media (min-width:1000px){
  #categoria-full{
    display: none;
    background-color:  #58812C;
  }
}

@media (max-width:999px){
  #categoria{
    display: none;
  }
  #categoria-full .list-group-item{
    background-color: #58812C;
    color: #FDFEFE;

  }
  #categoria-full{
    background-color:  #58812C;
  }

}
