/*--------------------------------------------------------------
# programs
--------------------------------------------------------------*/

.programs .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.programs .icon-box .icon {
  margin-bottom: 10px;
}

.programs .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.programs .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.programs .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.programs .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.programs .icon-box:hover {
  transform: translateY(-10px);
}

.programs .icon-box:hover h4 a {
  color: #47b2e4;
}

#programs{
  background-image: url("../../../assets/img/wave3.svg") ;
  background-repeat: no-repeat; 
}

