  /*-----------------------------
  # About css
  -------------------------------*/
  .bg-green-corporate{
    background-color: #135a5f!important;
    color: #ffffff;
  }

  #about{
    padding-top: 5px;
  }

  .feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background-color: #58812c !important;
}

.text-justify{
    text-align: justify;
}

