#alliance-admin-form {
  margin-top: 80px;
  height: auto;
  padding: 10px;
}

.bg-azul{
  background-color: #2297a5;
  color: #ffffff;
}

@media (max-width: 991px) {
  #alliance-admin-form {
      margin-top: 80px;
      height: auto;
      text-align: center;
  }
}
