<!-- Alliance section-->
<section id="alliance" class="alliance bg-light-gray">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div class="col-lg-4 d-flex align-items-center justify-content-center" *ngFor="let alliance of alliances">
        <a [routerLink]="['alianzas',alliance.nombre]" class="img">
          <img src="{{alliance.ruta_imagen}}" class="img-fluid rounded-circle link-img" alt="">
        </a>  
      </div>
    </div>
  </div>
</section>
<!-- End Alliance section-->