  /*-----------------------------
  # Allaince css
  -------------------------------*/
  .alliance {
    padding: 12px 0;
    text-align: center;
  }
  
  .img {
    max-width: 45%;
    width: 120px;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
  }
  
  .img:hover {
    filter: none;
    transform: scale(1.1);
  }

  .bg-light-gray{
    background-color: #f3f5fa;  
  }
