<section id="home-admin">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="bi bi-boxes"></i> - Programas
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gestionar programas de la empresa</h5>
                        <p class="card-text">Módulo para consultar, crear, modificar y eliminar.</p>
                        <a [routerLink]="['/modulo-categoria']" class="btn bg-dark-green">Ir a módulo categoria</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="bi bi-award"></i> - Quiénes somos
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gestionar información de la empresa</h5>
                        <p class="card-text">Módulo para consultar, crear, modificar y eliminar información tal como, Misión, Visión, Compromiso y Recurso humano.</p>
                        <a [routerLink]="['/modulo-quienes-somos']" class="btn bg-dark-green">Ir a módulo quiénes somos</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="bi bi-diagram-3"></i> - Alianzas
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gestionar alianzas con otras empresas</h5>
                        <p class="card-text">Módulo para consultar, crear, modificar y eliminar.</p>
                        <a [routerLink]="['/modulo-alianzas']" class="btn bg-dark-green">Ir a módulo alianzas</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="bi bi-building"></i> - Datos empresa
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gestionar información relevante de la empresa</h5>
                        <p class="card-text">Módulo para consultar, crear, modificar y eliminar información tal como, Dirección, Telefóno fijo, Celular, Ciudad, Correo.</p>
                        <a [routerLink]="['/modulo-informacion-empresa']" class="btn bg-dark-green">Ir a módulo información de empresa</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="bi bi-bank2"></i> - Información bancaria
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Gestionar información bancaria</h5>
                        <p class="card-text">Módulo para consultar, crear, modificar y eliminar.</p>
                        <a [routerLink]="['/modulo-informacion-bancaria']" class="btn bg-dark-green">Ir a módulo información bancaria</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
