.bg-gray{
    background-color: #949496 !important;
}

.title-alliance, .inf-descrption{
    color:#ffffff;
}

.content{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 70px;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background-color: #135A5F !important;
}

.btn-dark-green{
    background-color: #135A5F;
    color:#ffffff;
}